# mediapipe models
models/hand_landmarker.task
models/pose_landmarker_lite.task

# useless files
.*cache
.vscode

# model folder with logs of KAN training
model

# compiled python and json files
*.pyc
*.json

# pictures and files
*.png
*.jpeg
*.pdf
*.gif
*.avi